<div class="content-confirm">
  <h3>{{info.title}}</h3>
  <p *ngIf="info.description != null">
      {{info.description}}
  </p>
  <button (click)="confirmClick()" mat-raised-button >Aceptar</button>
  <button (click)="onNoClick()" mat-button>Cancelar</button>
</div>