.toolbar-orders-list {
  & mat-toolbar-row {
    height: 45px;
  }
  min-height: 45px;
  border-top: solid 1px rgba(0, 0, 0, 0.1);
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}

.content-options-toolbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  //   padding-left: 5%;
}

.button-toolbar {
  height: 45px;
  margin: 0px 5px;
  border-bottom: solid 2px transparent;
  &:hover,
  &:active {
    border-bottom: solid 2px rgb(237, 129, 43);
  }
}
