<mat-toolbar class="toolbar-orders-list" color="primary">

  <mat-toolbar-row class="toolbar-orders-list">
    <div class="content-options-toolbar">
      <button id="dropdown-status-orders" class="button-toolbar" mat-button [matMenuTriggerFor]="orders">
        <mat-icon>arrow_drop_down</mat-icon>
        Ordenes
      </button>
      <mat-menu #orders="matMenu">

        <button mat-menu-item id="dropdown-button-{{item.buttonId}}" *ngFor="let item of categoryList" (click)="goToRoot(item)">
          <span>{{item.name}}</span>
        </button>

      </mat-menu>

      <button class="button-toolbar" mat-button [matMenuTriggerFor]="offers">
        <mat-icon>arrow_drop_down</mat-icon>
        Ofertas
      </button>
      <mat-menu #offers="matMenu">
        <button mat-menu-item>
          <span>Item Link</span>
        </button>
        <button mat-menu-item>
          <span>Item Link</span>
        </button>
      </mat-menu>


      <button class="button-toolbar" mat-button [matMenuTriggerFor]="offers">
        <mat-icon>arrow_drop_down</mat-icon>
        Productos
      </button>
      <mat-menu #offers="matMenu">
        <button mat-menu-item>
          <span>Item Link</span>
        </button>
        <button mat-menu-item>
          <span>Item Link</span>
        </button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
