<div class="content-order">

  <div class="container" fxLayout="row" fxLayoutAlign="center start" fxLayoutWrap>
    <div fxFlex="100" class="light-content">

      <!-- Toolbar para los dropdown de filtro de estado para las ordenes -->
      <app-toolbar-options fxShow.xs="false" fxShow.sm="false" fxShow.gt-lg="false" fxShow="true"></app-toolbar-options>
      <!-- Toolbar para los dropdown de filtro de estado para las ordenes -->

      <!-- Toolbar de las opciones para la orden -->
      <mat-toolbar class="toolbar-orders-options-table" color="primary">
        <mat-toolbar-row class="toolbar-options">
          <h3 fxShow.xs="false" fxShow.sm="true" fxShow="true" class="sc-title title-toolbar">{{currentCategory.name}} ({{numberElements}})</h3>
          <div class="normal-theme toolbar-options-table">
            <div fxFlex="100%" fXLayout="row" fxLayoutAlign="center center" fxLayoutWrap>
              <button fxShow.xs="false" fxShow.sm="false" fxShow.md="true" fxShow="true" fxFlex="200px" class="sc-default-button" id="search-order-button"
                (click)="toggleMenuOrderSearch()" mat-button color="primary">
                <mat-icon>search</mat-icon>
                Consultar ordenes</button>
              <button fxShow.xs="false" fxShow.sm="false" fxShow.md="true" fxShow="true" fxFlex="120px" class="sc-default-button" id="download-order-button"
                mat-button color="primary">
                <mat-icon>file_download</mat-icon>
                Descargar</button>

              <div fxFlex.xs="100" fxFlex.gt-sm="40" class="toolbar-paginate">
                <div class="center-product-list" fxFlex="90px">
                  <button fxShow.xs="true" fxShow.sm="true" fxShow.md="false" fxShow.lg="false" fxShow.xl="false" (click)="foo($event)" class="button-toolbar"
                    mat-icon-button [matMenuTriggerFor]="toolbarOptions">
                    <mat-icon>settings</mat-icon>
                    <!-- <span>Acciones</span> -->
                  </button>
                  <mat-menu #toolbarOptions="matMenu">
                    <button id="search-order-button" (click)="toggleMenuOrderSearch()" mat-menu-item>
                      <mat-icon>search</mat-icon>
                      <span>Consultar ordenes</span>
                    </button>
                    <button id="download-order-button" mat-menu-item>
                      <mat-icon>file_download</mat-icon>
                      <span>Descargar</span>
                    </button>
                  </mat-menu>
                </div>

                <mat-paginator fxFlex="300px" class="paginator-style orders-paginate" itemsPerPageLabel="Items por pagina" #paginator [pageSize]="5"
                  [length]="100" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
              </div>
            </div>
          </div>
        </mat-toolbar-row>
      </mat-toolbar>
      <!-- Toolbar de las opciones para la orden -->

    </div>

    <!-- Tabla de ordenes -->
    <div fxFlex.xs="95%" fxFlex.gt-sm="90" fxFlex.gt-md="85" class="content-table-orders">

      <!-- matSort: Permite filtrar la tabla por los titulos de las columnas -->
      <mat-table #table [dataSource]="dataSource" matSort>


        <!-- Check column -->
        <ng-container matColumnDef="select">
          <mat-header-cell fxFlex="40px" *matHeaderCellDef>
            <mat-checkbox [disabled]="orderListLength" (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </mat-header-cell>
          <mat-cell fxFlex="40px" *matCellDef="let row">
            <mat-checkbox id="check-order-{{row.OrderNumber}}" (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </mat-cell>
        </ng-container>

        <!-- Plus Column -->
        <ng-container matColumnDef="plus">
          <mat-header-cell fxFlex="70px" fxShow.xs="false" fxShow.sm="false" fxShow.gt-lg="false" fxShow="true" *matHeaderCellDef mat-sort-header>
          </mat-header-cell>
          <mat-cell fxFlex="70px" fxShow.xs="false" fxShow.sm="false" fxShow.gt-lg="false" fxShow="true" *matCellDef="let element">
            <button mat-icon-button>
              <mat-icon>add</mat-icon>
            </button>
          </mat-cell>
        </ng-container>


        <!-- OrderNumber Column -->
        <ng-container matColumnDef="OrderNumber">
          <mat-header-cell fxFlex.sm="35" fxFlex.md="15%" fxFlex.lg="15%" fxFlex.xs="40" *matHeaderCellDef mat-sort-header> Orden </mat-header-cell>
          <mat-cell fxFlex.sm="35" fxFlex.md="15%" fxFlex.lg="15%" fxFlex.xs="110px" *matCellDef="let element">
            <p class="sc-text-order">{{element.OrderNumber}}</p>
          </mat-cell>

        </ng-container>

        <!-- DateOrder Column -->
        <ng-container matColumnDef="DateOrder">
          <mat-header-cell fxFlex.sm="35" fxFlex.md="110px" fxFlex.lg="110px" fxFlex.xs="70" fxShow.xs="false" fxShow.sm="true" fxShow.gt-lg="false"
            fxShow="true" *matHeaderCellDef mat-sort-header> Fecha pedido </mat-header-cell>
          <mat-cell fxShow.xs="false" fxShow.sm="true" fxShow.gt-lg="false" fxShow="true" fxFlex.sm="35" fxFlex.md="110px" fxFlex.lg="110px"
            fxFlex.xs="70" *matCellDef="let element">
            <p class="sc-date-content-table">{{element.DateOrder | date}} </p>
          </mat-cell>
        </ng-container>

        <!-- DateMaxDeliveryOrder Column -->
        <ng-container matColumnDef="DateMaxDeliveryOrder">
          <mat-header-cell fxShow.xs="false" fxShow.sm="true" fxShow.gt-lg="false" fxShow="true" fxFlex.sm="35" fxFlex.md="110px" fxFlex.lg="110px"
            fxFlex.xs="70" *matHeaderCellDef mat-sort-header> Fecha max entrega </mat-header-cell>
          <mat-cell fxShow.xs="false" fxShow.sm="true" fxShow.gt-lg="false" fxShow="true" fxFlex.sm="35" fxFlex.md="110px" fxFlex.lg="110px"
            fxFlex.xs="70" *matCellDef="let element">
            <p class="sc-date-content-table">{{element.DateMaxDeliveryOrder | date}} </p>
          </mat-cell>
        </ng-container>

        <!-- StatusOrder Column -->
        <ng-container matColumnDef="StatusOrder">
          <mat-header-cell fxShow.xs="false" fxShow.sm="false" fxShow.md="true" fxShow.gt-lg="false" fxShow="true" fxFlex.sm="118px"
            fxFlex.md="130px" fxFlex.lg="130px" fxFlex.xs="70" *matHeaderCellDef mat-sort-header>
            <span style="padding-left: 25px;">Estado</span>
          </mat-header-cell>
          <mat-cell fxShow.xs="false" fxShow.sm="false" fxShow.md="true" fxShow.gt-lg="false" fxShow="true" fxFlex.sm="118px" fxFlex.md="130px"
            fxFlex.lg="130px" fxFlex.xs="150px" *matCellDef="let element">
            <div class="mat-icon-status-order">
              <p class="sc-status-order-table">
                <mat-icon class="status-red">notifications</mat-icon>
                {{element.StatusOrder}}
              </p>
            </div>
          </mat-cell>
        </ng-container>

        <!-- Channel Column -->
        <ng-container matColumnDef="Channel">
          <mat-header-cell fxShow.xs="false" fxShow.sm="false" fxShow.md="true" fxShow.gt-lg="false" fxShow="true" fxFlex.lg="10" fxFlex.sm="10"
            fxFlex.md="10" fxFlex.xs="30" *matHeaderCellDef mat-sort-header> Envios </mat-header-cell>
          <mat-cell fxShow.xs="false" fxShow.sm="false" fxShow.md="true" fxShow.gt-lg="false" fxShow="true" fxFlex.lg="10" fxFlex.sm="10"
            fxFlex.md="10" fxFlex.xs="30" *matCellDef="let element">
            <p class="sc-text-normal">{{element.Channel}}</p>
          </mat-cell>
        </ng-container>


        <!-- Channel Column -->
        <ng-container matColumnDef="TypeDespatchOrder">
          <mat-header-cell fxShow.xs="false" fxShow.sm="false" fxShow.gt-lg="false" fxShow="true" fxFlex.lg="10" fxFlex.sm="10" fxFlex.md="10"
            fxFlex.xs="30" *matHeaderCellDef mat-sort-header> Tipo Orden </mat-header-cell>
          <mat-cell fxShow.xs="false" fxShow.sm="false" fxShow.gt-lg="false" fxShow="true" fxFlex.lg="10" fxFlex.sm="10" fxFlex.md="10"
            fxFlex.xs="30" *matCellDef="let element">
            <p class="sc-text-normal">{{element.TypeDespatchOrder}}</p>
          </mat-cell>
        </ng-container>

        <!-- ImprimirRecibo Column -->
        <ng-container matColumnDef="detailOrder">
          <mat-header-cell class="center-product-list" fxFlex.lg="110px" fxFlex.sm="110px" fxFlex.md="110px" fxFlex.xs="110px" *matHeaderCellDef
            mat-sort-header>
            Acciones
          </mat-header-cell>
          <mat-cell fxFlex.lg="110px" fxFlex.sm="110px" fxFlex.md="110px" fxFlex.xs="110px" *matCellDef="let element">
            <div class="center-product-list">
              <button color="primary" (click)="foo($event)" class="button-toolbar" mat-button [matMenuTriggerFor]="orderOptions">
                <mat-icon>arrow_drop_down</mat-icon>
                <span>Acciones</span>
              </button>
              <mat-menu #orderOptions="matMenu">
                <button mat-menu-item>
                  <mat-icon>description</mat-icon>
                  <span>Imprimir recibo</span>
                </button>
                <button mat-menu-item>
                  <mat-icon>label_outline</mat-icon>
                  <span>Imprimir rótulo</span>
                </button>
                <button (click)="openDialogSendOrder(element)" mat-menu-item>
                  <mat-icon>local_shipping</mat-icon>
                  <span>Enviar</span>
                </button>
                <button fxShow.xs="true" fxShow.sm="true" fxShow.gt-lg="false" fxShow="false" (click)="openModalDetailOrder(element)" mat-menu-item>
                  <mat-icon>more_vert</mat-icon>
                  <span>Ver detalle</span>
                </button>
              </mat-menu>
            </div>

          </mat-cell>
        </ng-container>


        <mat-header-row *matHeaderRowDef="displayedColumns "></mat-header-row>

        <mat-row *matRowDef="let row; columns: displayedColumns; " matRipple class="element-row personal-row-table
                  " [cdkDetailRow]="row " [cdkDetailRowTpl]="tpl ">
        </mat-row>
      </mat-table>


      <div [@detailExpand] class="orders-no-data " *ngIf="orderListLength ">
        <mat-icon class="icon-not-found" color="primary">info</mat-icon>
        <p>No se han encontrado ordenes
        </p>
        <button id="load-all-orders-button" (click)="getAllOrderList()" mat-button color="primary">
          Cargar todas las ordenes</button>
      </div>

    </div>
    <ng-template #tpl let-element>
      <div class="content-detail-order mat-row " [@detailExpand] style="overflow: hidden ">

        <div fxFlex fxLayout="column ">
          <!-- Client Information -->
          <app-client-information [order]="element "></app-client-information>
          <!-- Product Information -->
          <app-products-order [dataSource]="dataSource " [order]="element "></app-products-order>

        </div>

      </div>
    </ng-template>



  </div>
</div>
