<button color="accent" id="close-sesion-button" *ngIf="action == null && user.login" mat-icon-button mat-button (click)="logout()">
  <mat-icon class="mat-24">input</mat-icon>
</button>
<button color="accent" id="close-sesion-button" *ngIf="action != null && user.login" mat-button (click)="logout()">
  {{action}}
  <mat-icon class="mat-24">input</mat-icon>
</button>
