<div class="content-page">

  <div class="content-tab" fxFlexAlign="center" fxLayout="row" fxFlex.xs="90" fxFlex.sm="90" fxFlex.md="35" fxFlex.lg="35">
    <div [@scaleEfect] fxFlex="100" class="tab-style">
      <div class="title-login">
        <!-- <h1 class="title-card-form">Iniciar sesión</h1> -->
        <div class="logo-application"></div>
      </div>
      <mat-card class="card-login">
        <form #f="ngForm" [formGroup]="myform" class="form-login">
          <div fxLayout="column" fxLayoutGap="20px">
            <div fxFlex="100">
              <mat-form-field class="full-width input-style">
                <mat-icon matPrefix>person</mat-icon>
                <input id="input-username" name="username" formControlName="username" matInput placeholder="Usuario" type="text" required>
                <mat-error>El nombre de usuario no puede estar en blanco</mat-error>
              </mat-form-field>
            </div>
            <div fxFlex="100">
              <mat-form-field class="full-width">
                <mat-icon matPrefix>https</mat-icon>
                <input id="input-password" name="password" formControlName="password" matInput placeholder="Contraseña" type="password" required>
                <mat-error>La contraseña no puede estar en blanco y ser demasiado corta (mínimo 7 caracteres)</mat-error>
              </mat-form-field>
            </div>

            <div fxFlex="100">
              <button id="login-button" [disabled]="!f.form.valid" (click)="loginUser(myform)" type="submit" mat-raised-button fxFlex="100"
                color="primary">INGRESAR</button>
            </div>
            <div fxFlex="100">
              <div class="buttons-form">
                <a color="accent" color="primary" id="recovery-page" mat-button [routerLink]="['/seller-center-recovery']">¿Olvido su contraseña?</a>
              </div>
            </div>
          </div>
        </form>
      </mat-card>

    </div>

  </div>
</div>
