<mat-card class="content-profile">

  <mat-nav-list class="light-content">
    <mat-toolbar color="primary">
      <button id="closeMenuApplication" color="accent" matTooltip="Cerrar menú" matTooltipPosition="below" mat-icon-button mat-button
        (click)="toggleMenu()">
        <mat-icon>menu</mat-icon>
      </button>

      <span class="example-spacer"></span>

      <div class="logo-application"></div>

    </mat-toolbar>



    <!-- <div class="menu-content">
      <img class="background-profile" src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/d1200341012869.579612ec24d7d.png"
        alt="Background menu">
      <div class="avatar-menu"></div>
      <div class="text-menu">
        <p class="name-menu">Nombre de usuario</p>
        <p class="email-menu">email</p>
      </div>
    </div> -->


    <div class="content-menu-list">


      <mat-expansion-panel class="expansion-menu-list" expanded="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Ordenes
          </mat-panel-title>

        </mat-expansion-panel-header>

        <mat-list-item id="matlist-item-button-{{item.buttonId}}" *ngFor="let item of categoryList" (click)="goToRoot(item)" (click)="toggleMenu()">
          <h6 matLine>{{item.name}}</h6>
        </mat-list-item>


      </mat-expansion-panel>
    </div>

    <div class="content-menu-list">

      <mat-expansion-panel class="expansion-menu-list" expanded="false">
        <mat-expansion-panel-header>
          <mat-panel-title class="divider">
            Ofertas
          </mat-panel-title>

        </mat-expansion-panel-header>

        <mat-list-item (click)="toggleMenu()" [routerLink]="['/home']">
          <h6 matLine>Item link</h6>
        </mat-list-item>

        <mat-list-item (click)="toggleMenu()" [routerLink]="['/home']">
          <h6 matLine>Item link</h6>
        </mat-list-item>

      </mat-expansion-panel>
    </div>


    <div class="content-menu-list">

      <mat-expansion-panel class="expansion-menu-list" expanded="false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Productos
          </mat-panel-title>

        </mat-expansion-panel-header>

        <mat-list-item (click)="toggleMenu()" [routerLink]="['/home']">
          <h6 matLine>Item link</h6>
        </mat-list-item>

        <mat-list-item (click)="toggleMenu()" [routerLink]="['/home']">
          <h6 matLine>Item link</h6>
        </mat-list-item>

      </mat-expansion-panel>
    </div>


    <!-- <h4 class="divider"> Ordenes </h4>

      <mat-list-item (click)="toggleMenu()" [routerLink]="['/home']">
        <h6 matLine>Todas (234)</h6>
      </mat-list-item>

      <mat-list-item (click)="toggleMenu()" [routerLink]="['/home']">
        <h6 matLine>Por enviar (80) </h6>
      </mat-list-item>

      <mat-list-item (click)="toggleMenu()" [routerLink]="['/home']">
        <h6 matLine>Enviadas (120) </h6>
      </mat-list-item>

      <mat-list-item (click)="toggleMenu()" [routerLink]="['/home']">
        <h6 matLine>En devolución (02) </h6>
      </mat-list-item>

      <mat-list-item (click)="toggleMenu()" [routerLink]="['/home']">
        <h6 matLine>Canceladas (02) </h6>
      </mat-list-item>
    </div> -->

    <!-- <div class="content-menu-list">
        <h4 class="divider"> Ofertas </h4>

        <mat-list-item (click)="toggleMenu()" [routerLink]="['/home']">
          <h6 matLine>Item link</h6>
        </mat-list-item>

        <mat-list-item (click)="toggleMenu()" [routerLink]="['/home']">
          <h6 matLine>Item link</h6>
        </mat-list-item>

      </div> -->

    <!-- <div class="content-menu-list">
        <h4 class="divider"> Productos </h4>

        <mat-list-item (click)="toggleMenu()" [routerLink]="['/home']">
          <h6 matLine>Item link</h6>
        </mat-list-item>

        <mat-list-item (click)="toggleMenu()" [routerLink]="['/home']">
          <h6 matLine>Item link</h6>
        </mat-list-item>

      </div> -->


    <mat-list-item (click)="toggleMenu()" [routerLink]="['/orders-list']">
      <h6 matLine>Soporte Marketplace</h6>
    </mat-list-item>

    <mat-list-item id="closeSesionUser" (click)="logout();toggleMenu()">
      <h6 matLine>Salir</h6>
    </mat-list-item>


  </mat-nav-list>
</mat-card>
