.example-header-image {
  background-image: url('https://www.atomix.com.au/media/2015/06/atomix_user31.png');
  background-size: cover;
}

.example-card {
  width: 100%;
  box-sizing: border-box;
  box-shadow: none !important;
}

.logo-application {
  background-image: url('../../../assets/logo/logo.png');

  background-repeat: no-repeat;
  background-size: cover;
  background-position: 40px;
  height: 34px;
  width: 100%;
  padding: 10px;
  background-size: 160px 68px;
}

mat-nav-list {
  width: 100%;
}

.icon-menu {
  width: 16px;
}

.content-profile {
  padding: 0px;
  box-shadow: none !important;
  height: 100%;
  & .mat-nav-list {
    padding: 0px;
    height: 100%;
  }
  & .menu-content {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    height: 161px;
    & .background-profile {
      width: 100%;
    }
  }
  & .avatar-menu {
    // background-size: cover;
    // height: 50px;
    // width: 50px;
    // background-color: #fff;
    // border: 2px solid #fff;
    // border-radius: 50%;
    // position: absolute;
    // bottom: 60px;
    // left: 13px;
    background-image: url('https://www.atomix.com.au/media/2015/06/atomix_user31.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 65px;
    width: 65px;
    border-radius: 50%;
    position: absolute;
    left: 20px;
    top: 40px;
    -webkit-box-shadow: 2px 4px 6px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 4px 6px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 4px 6px -1px rgba(0, 0, 0, 0.75);
  }
  & .text-menu {
    position: absolute;
    bottom: 0px;
    left: 13px;
    color: white;
    & p {
      margin: 0px;
    }
    & .name-menu {
      font-size: 15px;
      width: 250px;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    & .email-menu {
      font-size: 13px;
      margin-top: 2px;
      margin-bottom: 13px;
      width: 250px;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}

.header-menu {}

.divider {
  padding-left: 41px;
  color: #000;
  text-transform: uppercase;
}

h6[matline] {
  padding-left: 46px !important;
  color: rgba(0, 0, 0, 0.6) !important;
}

.example-spacer {
  flex: 1 1 auto;
}



mat-toolbar {
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}

.content-menu-list {
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}
