@import '~@angular/material/theming';
@include mat-core();
// $primary: mat-palette($mat-grey);
.content-tab {
  display: flex;
  justify-content: center;
  width: 70%;
  height: 100%;
  align-items: center;
}

.content-page {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-presentation {
  width: 40%;
  height: 500px;
  background: black;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  & .text-content-presentation {
    color: white;
    text-align: center;
  }
}

.tab-style {
  width: 50%;
  height: auto;
  background: white;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.icon-logo {
  width: 100px;
  display: block;
  margin: 0 auto;
}
