.client-information-container {
  padding-left: 54px;
  margin-bottom: 10px;
}

.content-information-client {
  display: inline-block;
  margin-top: 10px;
}

.client-information {
  color: rgb(132, 130, 131);
  font-weight: 400;
  font-size: 14px;
  width: auto;
}

.client-data {
  color: black;
  font-weight: 500;
  font-size: 14px;
  width: auto;
}

@media (max-width: 960px) {
  .client-information-container {
    padding: 10px !important;
  }
}

.n-margin {
  margin: 0px;
}
