<div class="client-information-container" fxLayoutWrap fxFlex="100" fxLayout="row" fxFlexAlign="start center">
  <div class="light-content" fxFlex.md="20" fxFlex.xs="100">
    <div class="content-information-client">
      <p class="client-information n-margin ">Cliente</p>
      <p class="client-data n-margin ">{{order.InfoClient.NameClient}}
        <br> {{order.InfoClient.IdentificationCard}}
      </p>
    </div>

  </div>
  <div class="light-content" fxFlex.md="20" fxFlex.xs="100">
    <div class="content-information-client">
      <p class="client-information n-margin">Dirección</p>
      <p class="client-data n-margin">{{order.InfoClient.Address}}
    </div>
  </div>
  <div class="light-content" fxFlex.md="20" fxFlex.xs="100">
    <div class="content-information-client">
      <p class="client-information n-margin ">Telefono</p>
      <p class="client-data n-margin">{{order.InfoClient.Phone}}</p>
    </div>
  </div>
</div>
