.title-toolbar {
  color: #ed812b;
  text-transform: uppercase;
  margin-right: 10px;
  font-size: 14px;
  width: 100%;
}

.content-profile {
  //   padding: 0px;
  box-shadow: none !important;
  height: 100%;
}

.search-form {
  & mat-icon {
    margin-right: 20px;
  }
}
