<mat-card class="content-profile">

  <mat-nav-list class="light-content">
    <mat-toolbar color="primary">
      <h4 class="title-toolbar">Consultar ordenes</h4>
      <button color="accent" matTooltip="Cerrar" matTooltipPosition="below" mat-icon-button mat-button (click)="toggleMenu()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar>

  </mat-nav-list>

  <mat-card-content>

    <form #f="ngForm" [formGroup]="myform" class="search-form light-content">

      <mat-form-field id="sinceDate-input-search-order" color="accent">
        <!-- <mat-icon [matDatepickerToggle]="sinceDate" id="sinceDate-Perfix" matPrefix color="accent">date_range</mat-icon> -->
        <input formControlName="sinceDate" placeholder="Desde" matInput [matDatepicker]="sinceDate">
        <mat-datepicker-toggle id="sinceDate-Perfix" matPrefix [for]="sinceDate"></mat-datepicker-toggle>
        <mat-datepicker startView="year"  #sinceDate></mat-datepicker>
      </mat-form-field>

      <mat-form-field id="untilDate-input-search-order" color="accent">
        <!-- <mat-icon [matDatepickerToggle]="untilDate"  id="untilDate-Prefix" matPrefix color="accent">date_range</mat-icon> -->
        <input formControlName="untilDate" placeholder="Hasta" matInput [matDatepicker]="untilDate">
        <mat-datepicker-toggle id="untilDate-Prefix" matPrefix [for]="untilDate">
        </mat-datepicker-toggle>
        <mat-datepicker startView="year"  #untilDate></mat-datepicker>
      </mat-form-field>

      <mat-form-field id="chanelOrder-input-search-order" class="example-full-width" color="accent">
        <mat-icon matPrefix color="accent">device_hub</mat-icon>
        <mat-select formControlName="chanelOrder" placeholder="Filtrar por canal" [(value)]="selected">
          <mat-option value="option1">Option 1</mat-option>
          <mat-option value="option2">Option 2</mat-option>
          <mat-option value="option3">Option 3</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field id="typeOrder-input-search-order" class="example-full-width" color="accent">
        <mat-icon matPrefix color="accent">assignment</mat-icon>
        <mat-select formControlName="typeOrder" placeholder="Filtrar por tipo de orden" [(value)]="selected">
          <mat-option value="option1">Option 1</mat-option>
          <mat-option value="option2">Option 2</mat-option>
          <mat-option value="option3">Option 3</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field id="numberOrder-input-search-order" class="example-full-width" color="accent">
        <mat-icon matPrefix color="accent">format_list_bulleted</mat-icon>
        <input formControlName="numberOrder" type="text" pattern="[0-9.]+" matInput placeholder="Filtrar por número de pedido">
      </mat-form-field>

      <mat-form-field id="ccClient-input-search-order" class="example-full-width" color="accent">
        <mat-icon matPrefix color="accent">person_pin</mat-icon>
        <input formControlName="ccClient" type="text" pattern="[0-9.]+" matInput placeholder="Filtrar por cédula del cliente">
      </mat-form-field>

      <div class="orders-search-option normal-theme">
        <button id="clear-filter-button" class="sc-button" mat-button (click)="clearForm()">
          <mat-icon>clear_all</mat-icon>
          Limpiar</button>
        <button id="apply-filter-button" class="sc-button" mat-raised-button color="primary" type="submit" (click)="filterOrder(myform)">Aplicar</button>
      </div>


    </form>

  </mat-card-content>
</mat-card>
