<div class="container-product-list">
  <div class="title-page">
    <span class="sc-title">Orden: {{order.OrderNumber}}
    </span>
    <a matTooltip="Cerrar" mat-icon-button matTooltipPosition="below" mat-button>
      <mat-icon (click)="onNoClick()">close</mat-icon>
    </a>
  </div>
  <mat-list class="card-info" fxFlex="100">
    <mat-list-item class="mat-list-item-order">
      <h4 mat-line>Orden
        <p mat-subheader class="sub-text-list">{{order.OrderNumber}}</p>
      </h4>

    </mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item class="mat-list-item-order">
      <h4 mat-line>Fecha de pedido
        <p mat-subheader class="sub-text-list">{{order.DateOrder | date}}</p>
      </h4>
    </mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item class="mat-list-item-order">
      <h4 mat-line>Fecha maxima de entrega
        <p mat-subheader class="sub-text-list">{{order.DateMaxDeliveryOrder | date}}</p>
      </h4>

    </mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item class="mat-list-item-order">
      <h4 mat-line>Estado
        <p mat-subheader class="sub-text-list">{{order.StatusOrder}}</p>
      </h4>

    </mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item class="mat-list-item-order">
      <h4 mat-line>Canal
        <p mat-subheader class="sub-text-list">{{order.Channel}}</p>
      </h4>
    </mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item class="mat-list-item-order">
      <h4 mat-line>Tipo de orden
        <p mat-subheader class="sub-text-list">{{order.TypeDespatchOrder}}</p>
      </h4>
    </mat-list-item>


  </mat-list>
</div>
