  @import '~@angular/material/theming';
  @include mat-core(); // Configuración del tema de la aplicación
  $custom-theme-primary: mat-palette($mat-indigo, A400);
  $custom-theme-accent: mat-palette($mat-green, 600);
  $custom-theme-warn: mat-palette($mat-red);
  $custom-theme: mat-light-theme($custom-theme-primary, $custom-theme-accent, $custom-theme-warn);
  @include angular-material-theme($custom-theme);
  .light-content {
    $custom-theme-primary: mat-palette($mat-grey, A100);
    $custom-theme-accent: mat-palette($mat-grey, 500);
    $custom-theme-warn: mat-palette($mat-red);
    $custom-theme: mat-light-theme($custom-theme-primary, $custom-theme-accent, $custom-theme-warn);
    @include angular-material-theme($custom-theme);
  }

  .toolbar-style {
    $custom-theme-primary: mat-palette($mat-grey, 50);
    $custom-theme-accent: mat-palette($mat-blue, A200);
    $custom-theme-warn: mat-palette($mat-red);
    $custom-theme: mat-light-theme($custom-theme-primary, $custom-theme-accent, $custom-theme-warn);
    @include angular-material-theme($custom-theme);
  }

  .normal-theme {
    $custom-theme-primary: mat-palette($mat-indigo, A400);
    $custom-theme-accent: mat-palette($mat-green);
    $custom-theme-warn: mat-palette($mat-red);
    $custom-theme: mat-light-theme($custom-theme-primary, $custom-theme-accent, $custom-theme-warn);
    @include angular-material-theme($custom-theme);
  }

  mat-toolbar-row {
    justify-content: space-between;
  }

  .logo-application {
    background-image: url('../assets/logo/logo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 40px;
    height: 34px;
    width: 200px;
    padding: 10px;
    background-size: 160px 68px;
  }

  .example-spacer {
    flex: 1 1 auto;
  }

  mat-sidenav {
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
  }

  html,
  body,
  material-app,
  mat-sidenav-container,
  .my-content {
    margin: 0;
    width: 100%;
    height: 100%;
    & mat-sidenav {
      width: 300px;
    }
  }

  .example-sidenav {
    padding: 20px;
  }

  .name-user {
    font-size: 15px;
    font-weight: 400;
  }

  .tab-style {
    & mat-tab-header {
      & .mat-tab-label {
        width: 100% !important;
      }
    }
  } // Menú list styles
  .expansion-menu-list {
    box-shadow: none !important;
  }

  .expansion-menu-list .mat-expansion-panel-content .mat-expansion-panel-body {
    padding: 0px !important;
  }

  .expansion-menu-list mat-expansion-panel-header {
    padding: 0px 24px 0px 0px !important;
  }

  .expansion-menu-list .mat-expansion-panel-header-title {
    padding-left: 41px;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
  }

  .product-table {
    width: 100%;
    border-collapse: collapse;
    & tbody tr {
      border-bottom: solid 1px rgba(0, 0, 0, 0.1);
    }
    & .title-table-product {
      background-color: #f2f2f2;
      /* padding: 10px 10px; */
      height: 50px;
      text-align: center;
      box-sizing: border-box;
      & th {
        font-size: 13px;
        color: rgb(132, 130, 131);
        font-weight: 400;
      }
      & th .mat-sort-header-container {
        display: flex;
        align-items: center;
        justify-content: center;
        & button {
          font-size: 13px;
          font-weight: 400;
          color: rgb(132, 130, 131);
        }
      }
    }
  }
 //  Estilos personalizados para el sc
  .sc-title {
    font-size: 15px !important;
    color: #f7920c !important;
    text-transform: uppercase !important;
    font-weight: 500 !important;
  }

  .sc-link-text {
    font-size: 13px !important;
    color: #448aff !important;
    text-transform: uppercase !important;
    font-weight: 500 !important;
  }

  .sc-text-order {
    color: #222 !important;
    font-size: 14px !important;
    font-weight: bold !important;
  }

  .sc-text-normal {
    color: #605e5e;
    font-size: 13px;
  }

  .sc-button {
    text-transform: uppercase;
  }

  .sc-default-button {
    font-size: 11px !important;
    text-transform: uppercase;
    & mat-icon {
      font-size: 18px;
      color: rgb(161, 161, 153);
    }
  }

  .sc-date-content-table {
    background-color: #f2f2f2;
    padding: 11px 2px;
    font-size: 12px;
    color: #605e5e;
    border-left: solid 1px #ddd;
    border-right: solid 1px #ddd;
    text-align: center;
    margin-left: 8px;
  }

  .sc-header-name-seller {
    margin-left: 15px;
    font-size: 13px;
    color: #777;
  }

  .sc-status-order-table {
    padding: 0px 20px;
    & .status-red {
      width: auto;
      height: auto;
      color: #b71c1c !important;
      font-size: 13px;
    }
    & .status-orange {
      width: auto;
      height: auto;
      color: #d19002 !important;
      font-size: 13px;
    }
    & .status-green {
      width: auto;
      height: auto;
      color: #82b907 !important;
      font-size: 13px;
    }
    color: #605e5e;
    font-size: 13px;
  } //
  
  .full-width-dialog,
  .mat-dialog-container {
    max-width: 100vw !important;
    padding: 0px !important;
  }


