<mat-sidenav-container class="example-sidenav-fab-container">

  <mat-sidenav #sidenav mode="over" opened="{{stateSideNav}}">
    <app-menu (navToggle)="sidenav.toggle()"></app-menu>
  </mat-sidenav>

  <mat-sidenav #orderSidenav mode="over" position="end" opened="{{stateSideNavOrder}}">
    <app-search-order-menu (navToggle)="orderSidenav.toggle()"></app-search-order-menu>
  </mat-sidenav>

  <mat-sidenav-content class="my-content">
    <mat-progress-bar *ngIf="loading" [color]="'primary'" [mode]="'indeterminate'" [value]="70" [bufferValue]="75"></mat-progress-bar>

    <div class="light-content">
      <mat-toolbar color="primary" *ngIf="user.login">
        <button color="accent" id="menuElement" matTooltip="Menú" matTooltipPosition="below" mat-icon-button mat-button (click)="toggleMenu()">
          <mat-icon class="mat-24">menu</mat-icon>
        </button>
        <div class="logo-application"></div>
        <p fxShow.xs="false" fxShow.sm="false" fxShow.gt-lg="false" fxShow="true" class="name-user" style="margin-left:20px;">Bienvenido:
          <b>{{user.name}}</b>
          <span class="sc-header-name-seller">ID: {{user['http://sellershop.com/user_metadata'].nit}}</span>
        </p>

        <span class="example-spacer"></span>
        <button id="profile-button" mat-icon-button mat-button color="accent">
          <mat-icon class="mat-24">person</mat-icon>
        </button>
        <app-logout matTooltip="Salir" matTooltipPosition="below" (click)="sidenav.close()"></app-logout>
      </mat-toolbar>
    </div>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
