:host ::ng-deep .content-send-order {
  height: 500px; // overflow: auto; // padding: 20px;
  flex-wrap: wrap;
  background-color: white; // padding-bottom: 59px;
  position: relative;
  overflow: hidden;
  display: flex;
  .title-page {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
    padding: 0px 10px 0px 10px;
    & span {
      font-size: 21px;
      font-weight: bold;
      line-height: 24px;
    }
  }
  .container-product-list {
    height: 350px;
    overflow: auto; // padding: 20px;
    flex-wrap: wrap;
    background-color: white;
  }
  .mat-dialog-container {
    background-color: #fafafa !important;
  }
  .content-product-list {
    align-items: center;
    justify-content: center;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1); //   border-left: solid 1px rgba(0, 0, 0, 0.1);
    //   border-right: solid 1px rgba(0, 0, 0, 0.1);
  }
  .sku-product {
    margin-left: 10px;
    width: 100%;
  }
  .mat-subtitle {
    margin-bottom: 0px !important;
  }
  & .example-card {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 80px;
    box-shadow: none !important;
    box-shadow: none !important;
    margin-top: 10px;
    & .check-content-header-panel {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      height: 68px;
    }
    & .dropdown-content-header-panel {
      display: flex;
      align-items: center;
      justify-content: flex-end; // height: 63px;
      & .sku-product {
        text-align: right;
      }
    }
    & .expansion-header-panel {
      min-height: 66px;
      max-height: 98px;
      padding-top: 10px;
      height: auto !important;
      padding-bottom: 10px;
      padding-left: 10px;
    }
  }
  @media (max-width: 960px) {
    .expansion-header-panel {
      & .mat-content {
        flex-wrap: wrap;
      }
    }
  }
  @media (max-height: 300px) {
    height: 165px;
    .container-product-list {
      height: 182px;
    }
  }
  @media (max-height: 360px) {
    height: 278px;
    .container-product-list {
      height: 190px;
    }
  }
  @media (min-height: 512px) {
    .container-product-list {
      height: 415px;
    }
  }
  .select-send-options {
    margin-right: 20px;
    margin-left: 10px;
    & .mat-input-wrapper {
      padding-bottom: 30px !important;
      & .mat-input-flex {
        & .mat-form-field-infix {
          @media (max-width: 700px) {
            width: 115px !important;
          }
        }
      }
    }
  }
  .textarea-send-options {
    & .mat-input-wrapper {
      & .mat-input-flex {
        & .mat-form-field-infix {
          @media (max-width: 700px) {
            width: 115px !important;
          }
        }
      }
    }
  }
  .mat-toolbar-options-send {
    position: absolute;
    bottom: 0px;
    z-index: 14;
    height: 80px;
    padding-left: 0px;
  }
  .full-button {
    width: 100%;
    margin: 10px;
  }
}

.productName-table-option {
  overflow: hidden;
}

.title-product-list {
  background-color: #f2f2e6;
  color: #848282;
}

.center-product-list {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
