<!-- Product Information -->
<div class="container-product content-send-order">


  <mat-toolbar class="mat-toolbar-options-send">
    <div fxFlex.gt-sm="50px" fxFlex.xs="34px">
      <div class="center-product-list">
        <mat-checkbox [checked]="order.sendAllProduct" (change)="checkAllProductInOrder(order)"></mat-checkbox>
        <!-- <p class="sc-text-normal">Seleccionar todo:</p> -->
      </div>
    </div>
    <div fxFlex.gt-sm="230px" fxFlex.xs="120px">
      <div class="center-product-list">
        <mat-form-field class="select-send-options sc-text-normal" id="quantity-product" color="accent">
          <mat-select placeholder="Transportador">
            <mat-option value="Transportador 1">Transportador 1</mat-option>
            <mat-option value="Transportador 2">Transportador 2</mat-option>
            <mat-option value="Transportador 3">Transportador 3</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div fxFlex.gt-sm="230px" fxFlex.xs="140px">
      <div class="center-product-list">
        <mat-form-field class="textarea-send-options sc-text-normal">
          <textarea matInput placeholder="Guía"></textarea>
        </mat-form-field>
      </div>

    </div>
    <div fxFlex.gt-sm="170px" fxFlex.xs="34px">
      <div class="center-product-list">
        <button fxShow.gt-sm="true" fxShow="false" (click)="sendAllProductsOrder(order)" [disabled]="!order.sendAllProduct" class="sc-button"
          mat-raised-button color="accent">
          <mat-icon>local_shipping</mat-icon>
          Enviar todo
        </button>
        <button mat-mini-fab color="accent" (click)="sendAllProductsOrder(order)" [disabled]="!order.sendAllProduct" fxShow.gt-sm="false"
          fxShow="true">
          <mat-icon>local_shipping</mat-icon>
        </button>
      </div>
    </div>
  </mat-toolbar>
  <div class="container-product-list">


    <div class="title-page">
      <span class="sc-title">Enviar orden: {{order.OrderNumber}}
      </span>
      <a matTooltip="Cerrar" mat-icon-button matTooltipPosition="below" mat-button>
        <mat-icon (click)="onNoClick()">close</mat-icon>
      </a>
    </div>
    <mat-card *ngFor="let product of order.Products" class="example-card" fxFlex="100">
      <mat-card-header>
        <!-- <div mat-card-avatar>
        </div> -->
        <!-- <mat-card-title>{{product.NameProduct}}</mat-card-title> -->

      </mat-card-header>


      <mat-card-content>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header class="expansion-header-panel">
              <mat-panel-title class="check-content-header-panel">
                <div fxFlex="50px" class="center-product-list">
                  <mat-checkbox (change)="validateCheckProductForSendAll(order)" [(ngModel)]="product.checkProductToSend"></mat-checkbox>
                </div>
                <mat-card-subtitle class="mat-subtitle">
                  <b>{{product.NameProduct}}</b>
                  <br> Ref: {{product.Reference}}
                  <br>
                  <span>SKU: {{product.Sku}}</span>
                </mat-card-subtitle>

              </mat-panel-title>
              <mat-panel-description fxShow.gt-sm="true" fxShow="false" class="dropdown-content-header-panel">
                <span class="sku-product sc-link-text">
                  Configuración de envío</span>
              </mat-panel-description>

            </mat-expansion-panel-header>

            <div fxLayoutGap="10px" fxLayoutWrap fxLayout="row" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.gt-sm="100%">

              <div fxFlex.gt-sm="230px" fxFlex.xs="110px">
                <div class="center-product-list">
                  <mat-form-field class="select-send-options sc-text-normal" id="quantity-product" color="accent">
                    <mat-select placeholder="Transportador">
                      <mat-option value="Transportador 1">Transportador 1</mat-option>
                      <mat-option value="Transportador 2">Transportador 2</mat-option>
                      <mat-option value="Transportador 3">Transportador 3</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div fxFlex.gt-sm="230px" fxFlex.xs="110px">
                <div class="center-product-list">
                  <mat-form-field class="textarea-send-options sc-text-normal">
                    <textarea matInput placeholder="Guía"></textarea>
                  </mat-form-field>
                </div>

              </div>
              <div fxFlex.gt-sm="230px" fxFlex.xs="120px">
                <div class="center-product-list">
                  <mat-form-field class="select-send-options sc-text-normal" id="quantity-product" color="accent">
                    <mat-select placeholder="Cantidad">
                      <mat-option value="1">1</mat-option>
                      <mat-option value="2">2</mat-option>
                      <mat-option value="3">3</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div fxFlex.gt-sm="80px" fxFlex.xs="120px">
                <div class="center-product-list">
                  <button (click)="sendAllProductsOrder(order)" class="full-button sc-button" mat-raised-button color="accent">
                    Enviar
                  </button>
                </div>
              </div>


            </div>

          </mat-expansion-panel>

        </mat-accordion>
      </mat-card-content>

    </mat-card>

  </div>




  <!-- 


  <div fxFlex fxLayout="column" fxFlex="100">
    <div class="title-product-list">
      <div fxFlex="10" class="sc-text-normal">
        <div class="center-product-list">
          <mat-checkbox [checked]="order.sendAllProduct" (change)="checkAllProductInOrder(order)"></mat-checkbox>
        </div>
      </div>
      <div fxFlex="40" class="sc-text-normal">
        <p>Producto</p>
      </div>
      <div fxFlex="20" class="sc-text-normal">
        <div class="center-product-list">
          <p>Cantidad</p>
        </div>
      </div>
      <div fxFlex="10" class="sc-text-normal">
        <div class="center-product-list">
          <p>Transportador</p>
        </div>
      </div>
      <div fxFlex="20" class="sc-text-normal">
        <div class="center-product-list">
          <p>Guía</p>
        </div>
      </div>

      <div fxFlex="20" class="sc-text-normal">
        <div class="center-product-list">
          <p>Enviar</p>
        </div>
      </div>
    </div>

    <div *ngFor="let product of order.Products" class="content-product-list">
      <div fxFlex="10">
        <div class="center-product-list">
          <mat-checkbox (change)="validateCheckProductForSendAll(order)" [(ngModel)]="product.checkProductToSend"></mat-checkbox>
        </div>
      </div>
      <div fxFlex="40">
        <div class="productName-table-option">
          <div class="product-name">
            <p class="sc-text-normal">{{product.NameProduct}}</p>
            <p class="sc-text-order">Ref: {{product.Reference}}</p>
            <p class="sc-text-order">SKU: {{product.Sku}}</p>
          </div>
        </div>
      </div>
      <div fxFlex="20">
        <div class="center-product-list">
          <mat-form-field class="form-field-options" id="quantity-product" color="accent">
            <mat-select placeholder="Cantidad">
              <mat-option value="1">1</mat-option>
              <mat-option value="2">2</mat-option>
              <mat-option value="3">3</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div fxFlex="20">
        <div class="center-product-list">
          <mat-form-field class="form-field-options" id="quantity-product" color="accent">
            <mat-select placeholder="Transportador">
              <mat-option value="Transportador 1">Transportador 1</mat-option>
              <mat-option value="Transportador 2">Transportador 2</mat-option>
              <mat-option value="Transportador 3">Transportador 3</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div fxFlex="20">
        <div class="center-product-list">
          <mat-form-field class="form-field-options">
            <textarea matInput placeholder="Guía"></textarea>
          </mat-form-field>
        </div>
      </div>

      <div fxFlex="20">
        <div class="center-product-list">
          <button class="sc-default-button" mat-button color="accent">
            <mat-icon class="mat-18">local_shipping</mat-icon>
            ENVIAR</button>
        </div>
      </div>
    </div>
    <div class="content-product-list">
      <div fxFlex="20">
        <div class="center-product-list">
          <h4>Seleccionar todo:</h4>
        </div>
      </div>
      <div fxFlexOffset="30" fxFlex="20">
        <div class="center-product-list">
          <mat-form-field class="form-field-options" id="quantity-product" color="accent">
            <mat-select placeholder="Transportador">
              <mat-option value="Transportador 1">Transportador 1</mat-option>
              <mat-option value="Transportador 2">Transportador 2</mat-option>
              <mat-option value="Transportador 3">Transportador 3</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div fxFlex="20">
        <div class="center-product-list">
          <mat-form-field class="form-field-options">
            <textarea matInput placeholder="Guía"></textarea>
          </mat-form-field>
        </div>

      </div>
      <div fxFlex="20">
        <div class="center-product-list">
          <button (click)="sendAllProductsOrder(order)" [disabled]="!order.sendAllProduct" class="sc-button" mat-raised-button color="accent">Enviar todo</button>
        </div>
      </div>
    </div>
  </div>
</div> -->
