/* You can add global styles to this file, and also import other style files */

@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
/* @import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; */
/* @import '~@angular/material/prebuilt-themes/purple-green.css'; */
/* @import '~@angular/material/prebuilt-themes/pink-bluegrey.css'; */

body {
    margin: 0px;
    padding: 0px;
    font-family: Roboto, sans-serif;
    height: 100%;
    background: #FAFAFA;
  }
  html {
    height: 100%;
  }
  .container {
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
  }