<div fxFlex fxLayout="column" fxFlex="100">
  <div class="title-product-list">
    <div fxFlex="50px" class="sc-text-normal">
      <div class="center-product-list">
        <mat-checkbox [checked]="order.sendAllProduct" (change)="checkAllProductInOrder(order)"></mat-checkbox>
      </div>
    </div>
    <div fxFlex.sm="35" fxFlex.md="20" fxFlex.lg="20" fxFlex.xs="70" class="sc-text-normal">
      <div class="center-product-list">
        <p>Producto</p>
      </div>
    </div>
    <div fxShow fxHide.xs="true" fxHide.sm="false" fxHide.md="false" fxHide.lg="false" fxHide.xl="false" class="sc-text-normal item-title-table">
      <div class="center-product-list">
        <p>Costo</p>
      </div>
    </div>
    <div fxShow fxHide.xs="true" fxHide.sm="true" fxHide.md="false" fxHide.lg="false" fxHide.xl="false" class="sc-text-normal item-title-table">
      <p>Flete</p>
    </div>
    <div fxShow fxHide.xs="true" fxHide.sm="true" fxHide.md="false" fxHide.lg="false" fxHide.xl="false" class="item-title-table sc-text-normal">
      <p>Estado</p>
    </div>
    <div fxShow fxHide.xs="true" fxHide.sm="true" fxHide.md="false" fxHide.lg="false" fxHide.xl="false" class="item-title-table sc-text-normal">
      <div class="center-product-list">
        <p>Guía</p>
      </div>
    </div>
    <div fxShow fxHide.xs="true" fxHide.sm="true" fxHide.md="false" fxHide.lg="false" fxHide.xl="false" class="item-title-table sc-text-normal">
      <div class="center-product-list">
        <p>Acciones</p>
      </div>
    </div>
    <!-- <div fxShow fxHide.xs="true" fxHide.sm="true" fxHide.md="false" fxHide.lg="false" fxHide.xl="false" class="item-title-table sc-text-normal">
      <div class="center-product-list">
        <p>Despachar</p>
      </div>
    </div> -->
  </div>

  <div *ngFor="let product of order.Products" class="content-product-list">
    <div fxFlex="50px">
      <div class="center-product-list">
        <mat-checkbox (change)="validateCheckProductForSendAll(order)" [(ngModel)]="product.checkProductToSend"></mat-checkbox>
      </div>
    </div>
    <div fxFlex.sm="36" fxFlex.md="23" fxFlex.lg="25" fxFlex.xs="80">
      <div class="productName-table-option">
        <div class="product-name n-margin">
          {{product.NameProduct}}
          <p class="sc-text-order n-margin">Ref: {{product.Reference}}</p>
          <p class="sc-text-order n-margin">SKU: {{product.Sku}}</p>
        </div>
      </div>
    </div>
    <div fxShow fxHide.xs="true" fxHide.sm="false" fxHide.md="false" fxHide.lg="false" fxHide.xl="false" fxFlex.sm="10" fxFlex.md="10"
      fxFlex.lg="6">
      <div class="center-product-list">
        <p class="sc-text-normal">{{product.CostProduct}}</p>
      </div>
    </div>
    <div fxShow fxHide.xs="true" fxHide.sm="true" fxHide.md="false" fxHide.lg="false" fxHide.xl="false" fxFlex.sm="10" fxFlex.md="13"
      fxFlex.lg="10">
      <div class="center-product-list">
        <p class="sc-text-normal">{{product.CostShippingProduct}}</p>
      </div>
    </div>
    <div fxShow fxHide.xs="true" fxHide.sm="true" fxHide.md="false" fxHide.lg="false" fxHide.xl="false" fxFlex.sm="15" fxFlex.md="14"
      fxFlex.lg="15">
      <div class="center-product-list mat-icon-status-order">
        <p class="sc-status-order-table">
          <mat-icon class="status-red">notifications</mat-icon>
          {{product.StatusProduct}}
        </p>
      </div>
    </div>
    <div fxShow fxHide.xs="true" fxHide.sm="true" fxHide.md="false" fxHide.lg="false" fxHide.xl="false" fxFlex.sm="13" fxFlex.md="12"
      fxFlex.lg="20">
      <div class="center-product-list">
        <p class="sc-text-order">{{product.Reference}}</p>
      </div>

    </div>
    <div fxFlex.lg="15" fxFlex.sm="20" fxFlex.md="20" fxFlex.xs="40">
      <div class="center-product-list">

        <button color="primary" class="button-toolbar" mat-button [matMenuTriggerFor]="orderOptions">
          <mat-icon>arrow_drop_down</mat-icon>
          <span>Acciones</span>
        </button>
        <mat-menu #orderOptions="matMenu">
          <button mat-menu-item>
            <mat-icon>print</mat-icon>
            <span>Etiqueta</span>
          </button>
          <button mat-menu-item>
            <mat-icon>local_shipping</mat-icon>
            <span>Enviar</span>
          </button>

          <button fxShow.xs="true" fxShow.sm="true" fxShow.gt-lg="false" fxShow="false" mat-menu-item>
            <mat-icon>more_vert</mat-icon>
            <span>Ver detalle</span>
          </button>
        </mat-menu>
      </div>


      <!-- <div class="center-product-list">
        <button class="sc-default-button" mat-button color="primary">
          <mat-icon fxShow fxHide.xs="true" fxHide.sm="true" fxHide.md="true" fxHide.lg="false" fxHide.xl="false" class="mat-18">print</mat-icon>
          <span fxShow>ETIQUETA</span>
        </button>
      </div> -->
    </div>
    <!-- <div fxFlex.lg="10" fxFlex.sm="20" fxFlex.md="20" fxFlex.xs="30">
      <div class="center-product-list">
        <button class="sc-default-button" mat-button color="accent">
          <mat-icon fxShow fxHide.xs="true" fxHide.sm="true" fxHide.md="true" fxHide.lg="false" fxHide.xl="false" class="mat-18">local_shipping</mat-icon>
          <span>ENVIAR</span>
        </button>
      </div>
    </div>
    <div fxShow fxHide.xs="false" fxHide.sm="false" fxHide.md="true" fxHide.lg="true" fxHide.xl="true" fxFlex.lg="10" fxFlex.sm="20"
      fxFlex.md="20" fxFlex.xs="30">
      <div class="center-product-list">
        <button class="sc-default-button" mat-button>
          <mat-icon fxShow fxHide.xs="true" fxHide.sm="true" fxHide.md="true" fxHide.lg="false" fxHide.xl="false">more_vert</mat-icon>
          <span>DETALLE</span>
        </button>
      </div>
    </div> -->
  </div>


  <!-- Total row -->

  <div class="content-product-list">
    <div fxFlex.xs="20" fxFlex.md="20">
      <div class="center-product-list">
        <h4>Total:</h4>
      </div>
    </div>
    <div fxFlexOffset.md="25" fxFlex.xs="30" fxFlex.md="10">
      <div class="center-product-list">
        <p class="sc-text-normal">
          Costo:
          <strong>${{order.CostTotalOrder}}</strong>
        </p>
      </div>
    </div>
    <div fxFlex.xs="20" fxFlex.md="10">
      <div class="center-product-list">
        <p class="sc-text-normal">
          Flete:
          <strong>${{order.CostTotalShipping}}</strong>
        </p>
      </div>

    </div>
    <div fxFlexOffset.md="10" fxFlex.md="30" fxFlex.xs="100">
      <div class="center-product-list">
        <button (click)="sendAllProductsOrder(order)" [disabled]="!order.sendAllProduct" class="full-button sc-default-button sc-button"
          mat-raised-button color="accent">Enviar todo</button>
      </div>
    </div>
  </div>
</div>
