.title-product-list {
  background-color: #f2f2e6;
  color: #848282;
}

.center-product-list {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.product-name {
  padding: 15px 0px;
}

.productName-table-option {
  font-size: 14px;
}

.content-product-list {
  flex-wrap: wrap;
}

.item-title-table {
  width: 140px;
}

@media (max-width: 960px) {
  .item-title-table {
    width: 100px;
  }
}

.n-margin {
  margin: 0px;
}

.full-button {
  width: 100%;
  margin: 10px;
}
